
.breadcrumb-link {
	text-decoration: none
}
.v-breadcrumb.disabled {
    /* color: grey !important; */
	pointer-events: none;
}

/* .v-breadcrumb.disabled.primary--text */
	/* color: $theme.$primary !important */

.v-chip.caption.v-chip--label.v-chip--small {
	cursor: pointer !important;
}
.image-loader--wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
}
.curved-card {
	border-radius: 10px !important;
}
.v-img-overlay {
	background: rgba(0, 0, 0, 0.3)
}
.relative {
	position: relative !important;
}
